<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<div class="qdrTopology row-fluid" ng-controller="QDR.TopologyController">
        <div class="hlegend">
            <div class="legend policy">policy</div>
            <div class="legend vhosts">vhosts</div>
            <div class="legend groups">groups</div>
            <div class="legend buttons">
                <button class="btn btn-primary pull-right" ng-click="savePolicy()">Save</button>
            </div>
        </div>
    <div class="legend-grid">
        <div class="legend policy"></div>
        <div class="legend vhosts"></div>
        <div class="legend groups"></div>
    </div>
        <div class="policy-container">
            <div id="topology"></div>
            <div class="all-forms">
                <div ng-if="showForm === 'policy'">
                    <h2 ng-show="formMode === 'edit'">{{currentForm.$dirty ? "Editing " : ""}}Policy</h2>
                    <form name="editpolicy" ng-submit="formEditOK(formData, editpolicy)">
                        <div class="form-group">
                            <label for="maxConnections">Max Connections</label>
                            <input name="maxConnections" type="number" class="form-control" id="maxPolicyConnections" placeholder="Defaults to 65535" ng-model="formData.maxConnections">
                            <small class="form-text text-muted">
                                <div>Global maximum number of concurrent client connections allowed. This limit is always enforced even if no other policy settings have been defined. This limit is applied to all incoming connections regardless of remote host, authenticated user, or targeted vhost.</div>
                            </small>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input bootstrap-switch type="checkbox" ng-model="formData.enableVhostPolicy" name="enableVhostPolicy">
                                Enable vhost policy connection denial, and resource limit enforcement.
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="defaultVhost">Default Vhost</label>
                            <input name="defaultVhost" type="text" class="form-control" id="defaultVhost" placeholder="Defaults to $default" ng-model="formData.defaultVHost">
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="editpolicy.$invalid || editpolicy.$pristine">Apply</button>
                        <button type="cancel" class="btn btn-warning" ng-disabled="!editpolicy.$dirty" ng-click="formCancel()">Cancel</button>
                        <span ng-if="editpolicy.$error.unapplied" class="form-dirty"><== There are unapplied changes. Apply or Cancel before leaving this form.</span>
                        <div ng-init="$parent.currentForm = editpolicy"></div>
                        <input type="hidden" name="type" ng-model="formData.type">
                    </form>
                </div>
                <div ng-if="showForm === 'vhost'">
                    <h2 ng-show="formMode === 'edit'">{{currentForm.$dirty ? "Editing " : ""}}Vhost {{shadowData.name}}</h2>
                    <h2 ng-show="formMode === 'add'">Adding new vhost</h2>
                    <form name="editvhost" ng-submit="formEditOK(formData, editvhost)">
                        <div class="form-group">
                            <label for="vhostname">Vhost ID</label>
                            <input
                                    name="vhostname"
                                    type="text"
                                    class="form-control"
                                    ng-class="{'duplicate': formData.duplicate}"
                                    id="vhostname"
                                    aria-describedby="vhostnamehelp"
                                    placeholder="Enter vhost name"
                                    ng-required="true"
                                    ng-model="formData.name"
                                    duplicate-sibling-name
                            >
                            <small id="vhostnamehelp" class="form-text text-muted">
                                (ie. example.com)
                            </small>
                            <small ng-messages="editvhost.vhostname.$error" role="alert">
                                <div ng-message="required">Required</div>
                                <div ng-message="duplicateName">Vhost name must be unique.</div>
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="maxConnections">maxConnections</label>
                            <input name="maxConnections" type="number" class="form-control" id="maxConnections" placeholder="Defaults to 65535" ng-model="formData.maxConnections">
                        </div>
                        <div class="form-group">
                            <label for="maxConnectionsPerUser">maxConnectionsPerUser</label>
                            <input name="maxConnectionsPerUser" type="number" class="form-control" id="maxConnectionsPerUser" placeholder="Defaults to 65535" ng-model="formData.maxConnectionsPerUser">
                        </div>
                        <div class="form-group">
                            <label for="maxConnectionsPerRemoteHost">maxConnectionsPerRemoteHost</label>
                            <input name="maxConnectionsPerRemoteHost" type="number" class="form-control" id="maxConnectionsPerRemoteHost" placeholder="Defaults to 65535" ng-model="formData.maxConnectionsPerRemoteHost">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input ng-model="formData.allowUnknownUser" name="allowUnknownUser" type="checkbox" bootstrap-switch>
                                Allow unknown user
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="editvhost.$invalid || editvhost.$pristine">Apply</button>
                        <button type="cancel" class="btn btn-warning" ng-disabled="!editvhost.$dirty" ng-click="formCancel()">Cancel</button>
                        <button type="button" class="btn btn-danger" ng-if="formMode == 'edit'" ng-click="formDelete()">Delete</button>
                        <div ng-init="$parent.currentForm = editvhost"></div>
                        <input type="hidden" name="type" ng-model="formData.type">
                    </form>
                </div>
                <div ng-if="showForm === 'group'">
                    <h2 ng-show="formMode === 'edit'">{{currentForm.$dirty ? "Editing " : ""}}group {{shadowData.name}}</h2>
                    <h2 ng-show="formMode === 'add'">Adding new group</h2>
                    <form name="editgroup" ng-submit="formEditOK(formData, editgroup)">
                        <div class="form-group">
                            <label for="groupname">Group Name</label>
                            <input
                                    name="groupname"
                                    type="text"
                                    class="form-control"
                                    id="groupname"
                                    ng-required="true"
                                    placeholder="Enter group name"
                                    ng-model="formData.name"
                                    duplicate-sibling-name
                            >
                            <small class="form-text text-muted">
                                <div>The name for this group.</div>
                            </small>
                            <small ng-messages="editgroup.groupname.$error" role="alert">
                                <div ng-message="required">Required</div>
                                <div ng-message="duplicateName">Must be unique in this vhost.</div>
                            </small>
                        </div>
                        <div class="form-group">
                            <h3>Group Membership</h3>
                            <label for="users">Users</label>
                            <input
                                    name="users"
                                    type="text"
                                    class="form-control"
                                    id="users"
                                    placeholder="Enter users"
                                    ng-required="!defaultGroup"
                                    ng-model="formData.users"
                                    duplicate-user
                            >
                            <small class="form-text text-muted">
                                <div>Comma separated list of authenticated users in this group.</div>
                            </small>
                            <small ng-messages="editgroup.users.$error" role="alert">
                                <div ng-message="required">Required if name is not $default</div>
                                <div ng-message="duplicateUser">User can be in only one group for this vhost. The name {{dupUserName}} was also found in {{dupUserGroup}}.</div>
                            </small>

                        </div>
                        <div class="form-group">
                            <h3>Connection Restrictions</h3>
                            <label for="remoteHosts">Remote Hosts</label>
                            <input name="remoteHosts" type="text" class="form-control" id="remoteHosts" placeholder="An empty list denies all access" ng-model="formData.remoteHosts">
                            <small class="form-text text-muted"><div>List of remote hosts from which the users may connect. List values may be host names, numeric IP addresses, numeric IP address ranges, or the wildcard *. An empty list denies all access.</div></small>
                        </div>
                        <div class="form-group">
                            <h3>AMQP Connection Open Limits</h3>
                            <label for="maxFrameSize">Max Frame Size</label>
                            <input name="maxFrameSize" type="number" class="form-control" id="maxFrameSize" placeholder="Defaults to 2^31-1" ng-model="formData.maxFrameSize">
                            <small class="form-text text-muted"><div>Largest frame that may be sent on this connection. (AMQP Open, max-frame-size)</div></small>
                            <hr>
                            <label for="maxSessions">Max Sessions</label>
                            <input name="maxSessions" type="number" class="form-control" id="maxSessions" placeholder="Defaults to 65535" ng-model="formData.maxSessions">
                            <small class="form-text text-muted"><div>Maximum number of sessions that may be created on this connection. (AMQP Open, channel-max)</div></small>
                        </div>
                        <div class="form-group">
                            <h3>AMQP Session Begin Limits</h3>
                            <label for="maxSessionWindow">Max Session Window</label>
                            <input name="maxSessionWindow" type="number" class="form-control" id="maxSessionWindow" placeholder="Defaults to 2^31-1" ng-model="formData.maxSessionWindow">
                            <small class="form-text text-muted"><div>Incoming capacity for new sessions. (AMQP Begin, incoming-window)</div></small>
                        </div>
                        <div class="form-group">
                            <h3>AMQP Link Attach</h3>
                            <label for="maxMessageSize">Max Message Size</label>
                            <input name="maxMessageSize" type="number" class="form-control" id="maxMessageSize" placeholder="Defaults to 0 (no limit)" ng-model="formData.maxMessageSize">
                            <small class="form-text text-muted"><div>Largest message size supported by links created on this connection. If this field is zero there is no maximum size imposed by the link endpoint. (AMQP Attach, max-message-size)</div></small>
                            <hr>
                            <label for="maxSenders">Max Senders</label>
                            <input name="maxSenders" type="number" class="form-control" id="maxSenders" placeholder="Defaults to 2^31-1" ng-model="formData.maxSenders">
                            <small class="form-text text-muted"><div>Maximum number of sending links that may be created on this connection.</div></small>
                            <hr>
                            <label for="maxReceivers">Max Receivers</label>
                            <input name="maxReceivers" type="number" class="form-control" id="maxReceivers" placeholder="Defaults to 2^31-1" ng-model="formData.maxReceivers">
                            <small class="form-text text-muted"><div>Maximum number of receiving links that may be created on this connection.</div></small>
                            <hr>
                            <label class="form-check-label">
                                <input ng-model="formData.allowDynamicSource" name="allowDynamicSource" type="checkbox" bootstrap-switch>
                                Allow Dynamic Source
                            </label>
                            <small class="form-text text-muted"><div>This connection is allowed to create receiving links using the Dynamic Link Source feature.</div></small>
                            <hr>
                            <label class="form-check-label">
                                <input ng-model="formData.allowAnonymousSender" name="allowAnonymousSender" type="checkbox" bootstrap-switch>
                                Allow Anonymous Sender
                            </label>
                            <small class="form-text text-muted"><div>This connection is allowed to create sending links using the Anonymous Sender feature.</div></small>
                            <hr>
                            <label class="form-check-label">
                                <input ng-model="formData.allowUserIdProxy" name="allowUserIdProxy" type="checkbox" bootstrap-switch class="form-check-input">
                                Allow User Id Proxy
                            </label>
                            <small class="form-text text-muted"><div>This connection is allowed to send messages with a user_id property that differs from the connection’s authenticated user id.</div></small>
                            <hr>
                            <label for="sources">Sources</label>
                            <input name="sources" type="string" class="form-control" id="sources" placeholder="An empty list denies all access" ng-model="formData.sources">
                            <small class="form-text text-muted"><div>List of Source addresses allowed when creating receiving links. This list may be expressed as a CSV string or as a list of strings. An empty list denies all access.</div></small>
                            <hr>
                            <label for="targets">Targets</label>
                            <input name="targets" type="string" class="form-control" id="targets" placeholder="An empty list denies all access" ng-model="formData.targets">
                            <small class="form-text text-muted"><div>List of Target addresses allowed when creating sending links. This list may be expressed as a CSV string or as a list of strings. An empty list denies all access.</div></small>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="editgroup.$invalid || editgroup.$pristine">Apply</button>
                        <button type="cancel" class="btn btn-warning" ng-disabled="!editgroup.$dirty" ng-click="formCancel()">Cancel</button>
                        <button type="button" class="btn btn-danger" ng-if="formMode == 'edit'" ng-click="formDelete()">Delete</button>
                        <div ng-init="$parent.currentForm = editgroup"></div>
                        <input type="hidden" name="type" ng-model="formData.type">
                    </form>
                </div>
            </div>
        </div>
<!--    currentForm.$dirty: {{currentForm.$dirty}}, currentForm.$pristine: {{currentForm.$pristine}}, currentForm.$invalid: {{currentForm.$invalid}}, currentForm.type: {{currentForm.type.$modelValue}}, defaultGroup: {{defaultGroup}} -->
<!--
        <div id="svg_context_menu" class="contextMenu">
            <ul>
                <li ng-click="addAnotherNode()">Add a new router</li>
            </ul>
        </div>
        <div id="link_context_menu" class="contextMenu">
            <ul>
                <li ng-click="reverseLink()">Reverse connection direction</li>
                <li ng-click="removeLink()">Remove connection</li>
                <li class="context-separator"></li>
                <li ng-click="linkConfig()">Set port for connection.</li>
            </ul>
        </div>
    <div id="action_menu" class="contextMenu">
        <ul>
            <li ng-click="editSection(selected_node, 'router')">Edit router info</li>
            <li ng-click="setRouterHost()">Set router host</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(false, 'log', 'new')">Add new log section</li>
            <li ng-repeat="log in getSectionList(selected_node, 'log')" ng-click="editSection(selected_node, 'log', log)">Edit/Delete {{log}} log section</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(false, 'address', 'new')">Add new address section</li>
            <li ng-repeat="address in getSectionList(selected_node, 'address')" ng-click="editSection(selected_node, 'address', address)">Edit/Delete {{address}} address section</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(selected_node, 'sslProfile', 'new')">Add new sslProfile section</li>
            <li ng-repeat="ssl in getSectionList(selected_node, 'sslProfile')" ng-click="editSection(selected_node, 'sslProfile', ssl)">Edit/Delete {{ssl}} sslProfile section</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(selected_node, 'connector', 'new')">Add new connector section</li>
            <li ng-click="editSection(selected_node, 'connector', 'artemis')">Add new connector for Artemis broker</li>
            <li ng-click="editSection(selected_node, 'connector', 'qpid')">Add new connector for Qpid broker</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(selected_node, 'listener', 'new')">Add new listener section</li>
            <li ng-if="!hasConsoleListener()" ng-click="addConsoleListener(selected_node)">Add listener for console</li>
            <li ng-if="hasConsoleListener(selected_node)" ng-click="delConsoleListener(selected_node)">Delete listener for console</li>

            <li class="context-separator"></li>
            <li ng-click="deleteNode(false)">Delete this router</li>
            <li ng-click="showConfig(selected_node)">Show generated config</li>
        </ul>
    </div>
    <div id="multiple_action_menu" class="contextMenu">
        <ul>
            <li ng-click="setRouterHost(true)">Set host for selected routers</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(true, 'log', 'new')">Add log section for selected routers</li>

            <li class="context-separator"></li>
            <li ng-click="editSection(true, 'address', 'new')">Add address section for selected routers</li>

            <li class="context-separator"></li>
            <li ng-click="deleteNode(true)">Delete selected nodes</li>
        </ul>
    </div>
    <div id="client_context_menu" class="contextMenu">
        <ul>
            <li ng-click="deleteNode(false)">Delete</li>
            <li class="context-separator"></li>
            <li ng-click="editThisSection(selected_node)">Edit</li>
        </ul>
    </div>
-->
</div>


<script type="text/ng-template" id="settings-template.html">
    <form novalidate name="editForm" ng-submit="setSettings()">
    <div class="modal-header">
        <h3 class="modal-title">Global settings</h3>
    </div>
    <div class="modal-body">

            <fieldset>
                <div ng-repeat="attribute in entity.attributes">
                    <label class="form-label" for="{{attribute.name}}">{{attribute.humanName}}</label>
<!-- we can't do <input type="{angular expression}"> because... jquery throws an exception because...??? -->
                    <div ng-if="attribute.input == 'input'">
                        <!-- ng-pattern="testPattern(attribute)" -->
                        <input ng-if="attribute.type == 'number'" type="number" name="{{attribute.name}}" id="{{attribute.name}}" ng-model="attribute.value" ng-required="attribute.required" class="ui-widget-content ui-corner-all"/>
                        <input ng-if="attribute.type == 'text'" type="text" name="{{attribute.name}}" id="{{attribute.name}}" ng-model="attribute.value" ng-required="attribute.required" class="ui-widget-content ui-corner-all"/>
                    </div>
                    <div ng-if="attribute.input == 'select'">
                        <select id="{{attribute.name}}" ng-model="attribute.selected" ng-options="item for item in attribute.rawtype"></select>
                    </div>
                    <div ng-if="attribute.input == 'boolean'" class="boolean">
                        <label><input name="{{attribute.name}}" type="radio" ng-model="attribute.value" ng-value="true"> True</label>
                        <label><input name="{{attribute.name}}" type="radio" ng-model="attribute.value" ng-value="false"> False</label>
                    </div>
                    <div ng-if="attribute.input == 'file'">
                        <input type="file" id="FileUpload" custom-on-change="uploadFile" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
                    </div>
                </div>
            </fieldset>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="setSettings()" ng-disabled="editForm.$invalid" >OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>


<!--
    This is the template for the node add/edit dialog
-->
<script type="text/ng-template" id="node-config-template.html">
    <form novalidate name="editForm" ng-submit="save()">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">

            <fieldset>
                <div ng-repeat="attribute in entities[0].attributes">
                    <div class="form-input-container" tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip-html="attributeDescription" ng-mouseenter="setDescription(attribute, $event)" tooltip-class="edit-tooltip">
                        <label class="form-label" for="{{attribute.name}}">{{attribute.humanName}}</label>
                        <div ng-if="attribute.input == 'input'">
                            <input class="edit_input" ng-if="attribute.type == 'number'" type="number" name="{{attribute.name}}" id="{{attribute.name}}" ng-model="attribute.value" ng-required="isItRequired(attribute)" ng-disabled="isItDisabled(attribute)" class="ui-widget-content ui-corner-all"/>
                            <input class="edit_input" ng-if="attribute.type == 'text'" type="text" name="{{attribute.name}}" id="{{attribute.name}}" ng-model="attribute.value" ng-required="isItRequired(attribute)" ng-disabled="isItDisabled(attribute)" class="ui-widget-content ui-corner-all"/>
                        </div>
                        <div ng-if="attribute.input == 'select'">
                            <select class="edit_input" id="{{attribute.name}}" ng-model="attribute.selected" ng-required="isItRequired(attribute)" ng-disabled="isItDisabled(attribute)" ng-options="item for item in attribute.rawtype"></select>
                        </div>
                        <div ng-if="attribute.input == 'boolean'" class="boolean">
                            <label><input type="radio" ng-model="attribute.value" value="true"> True</label>
                            <label><input type="radio" ng-model="attribute.value" value="false"> False</label>
                        </div>
                        <div ng-if="attribute.input == 'checkbox'" class="boolean">
                            <label><input id="attribute.name" type="checkbox" ng-required="isItRequired(attribute)" ng-disabled="isItDisabled(attribute)" ng-model="attribute.value"></label>
                        </div>
                    </div>
                </div>
            </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="editForm.$invalid" ng-click="save()">OK</button>
        <button ng-if="showDelete()" class="btn btn-secondary" type="button" ng-click="del()">Delete</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="show-config-template.html">
    <form novalidate ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">Current config file if saved</h3>
    </div>
    <div class="modal-body">
            <fieldset>
                <pre class="config-area">{{config}}</pre>
            </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="new-config-template.html">

    <form novalidate name="editForm" ng-submit="setSettings()">
    <div class="modal-header">
        <h3 class="modal-title">Create new topology</h3>
    </div>
    <div class="modal-body">

            <label for="newTopo" class="entity-description">Enter a new topology directory name</label>
            <fieldset>
                <input type="text" name="newTopo" id="newTopo" ng-model="newTopology" ng-required="true" class="ui-widget-content ui-corner-all"/>
            </fieldset>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="setSettings()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="set-router-host.html">
    <form novalidate name="editForm" ng-submit="setSettings()">
    <div class="modal-header">
        <h3 class="modal-title">Set router host</h3>
    </div>
    <div class="modal-body">
        <div class="description">
            Set the host of all listeners on this router. Also ensure that all internal connectors to this router use this host.
        </div>
            <label for="host" class="entity-description">Enter a machine name or IP address</label>
            <fieldset>
                <input type="text" name="host" id="host" ng-model="host" ng-required="true" class="router-host ui-widget-content ui-corner-all"/>
            </fieldset>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="setSettings()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="deploy-template.html">
    <form novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{state}}</h3>
        </div>
        <div ng-hide="deploy_state == 'deploying'">
            <div class="modal-body">
                <div ng-repeat="host in hosts">
                    <div class="host_color circle node" ng-class="host.color"></div>
                    <div class="host_name">{{host.name}}</div>
                    <button class="btn btn-basic host_pass" ng-click="show_pass(host)" ng-hide="showing_pass == host.name">Sudo Password</button>
                    <div class="host_pass" ng-show="showing_pass == host.name"><input ng-keyup="$event.keyCode == 13 ? show_pass() : null" focus-when="showing_pass == host.name" ng-model="host.pass" type="password" /> <button class="btn btn-basic" ng-click="show_pass()">OK</button></div>
                    <ul class="host_nodes">
                        <li ng-repeat="node in host.nodes">{{node}}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="deploy()">Deploy</button>
                <button ng-class="close_button_class" class="btn" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
        <div ng-show="deploy_state == 'deploying'">
            <div class="modal-body">
                <pre id="deploy_output" class="tail">{{status}}</pre>
                <div ng-show="done()" id="message">Deployed.
                    <div ng-show="hasConsole()">Browse to <a ng-href="{{address}}" target="_blank">here</a> to manage the router.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-class="close_button_class" class="btn" type="button" ng-click="cancel()">Close</button>
            </div>
        </div>
    </form>
</script>
