/*
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License
*/

#buttonBar {
  padding: 1em;
  border-bottom: 1px solid lightgrey;
  color: #f5f5f5;
}

.navbar-primary {
    font-size: 14px;
    background-image: linear-gradient(to bottom,#1d1d1d 0,#030303 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d1d1d', endColorstr='#ff030303', GradientType=0);
}

#buttonBar select {
    position: relative;
    top: 2px;
    margin-left: 0.25em;
    margin-right: 0.5em;
    color: black;
}

.edit_input {
  width: 20em !important;
}

.pull-right {
  float: right;
  margin-left: 0.25em;
}

.selected-node {
  margin: 0 5em;
}

#action_menu {
  position: absolute;
}

span.btn-icon {
  position: relative;
  top: -2px;
  padding-left: 2px;
  font-family: PatternFlyIcons-webfont;
}

label.form-label {
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 0;
}

span.logo {
    letter-spacing: 4px;
}

.navbar-brand {
  padding: 1px !important;
}

.config-area {
  max-height: 35em;
}

.btn .caret {
  font-weight: 800;
  padding-right: 2px;
}
.btn .down.caret {
  top: -2px;
}

.btn .plus.caret:before {
 content:"\f067";
}

.btn .down.caret:before {
 content:"\f0dd";
}

.tooltip.edit-tooltip .tooltip-inner {
  min-width: 25em;
  color: #880000;
  background-color: #fcfcfc;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid #333333;
}
.tooltip.edit-tooltip .tooltip-arrow {
  /* display: none; */
  color: $ffff68;
}


.form-input-container {
  display: inline-block;
  width: 20em;
}

div.boolean label {
  margin-bottom: 0;
}

.alert {
  max-width: 20em;
}

input.router-host {
  width: 45em;
}

pre.tail {
  max-height: 15em;
  min-height: 15em;
  overflow-y: scroll;
}

.host_color, .host_name {
  display: inline-block;
}

.host_color {
  width: 1em;
  height: 1em;
  border: 0;
}
.host_name {
  font-weight: bold;
}

.host_pass {
  float: right;
}

svg .add text {
  stroke: 1px;
  stroke-color: green;
}

.hlegend {
  width: 100%;
  height: 27px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-top: 1px solid white;
}

div.legend {
  text-align: center;
  border-right: 1px solid white;
  float: left;
  height: 100%;
}

div.legend.policy {
  width: 15em;
}
div.legend.vhosts {
  width: 20em;
}
div.legend.groups {
  width: 15em;
}

.legend-grid .legend {
  border-right: 1px solid gray;
}

.legend-grid .policy {
  background-color: #fffff0;
}
.legend-grid .vhosts {
  background-color: #f0f0ff;
}
.legend-grid .groups {
  background-color: #fff0f0;
}
.legend-grid .legend {
/*  height: 100vh; */
}

.legend-grid {
  position: absolute;
  float: left;
  top:54px;
  left:0;
  bottom:0;
  opacity: 0.2;
}

g.node path {
  stroke: black;
}
g.node.policy path {
  fill: yellow;
}
g.node.vhost path {
  fill: blue;
}
g.vhost.add path {
  stroke: blue;
}
g.node.group path  {
  fill: red;
}
g.group.add path  {
  stroke: red;
}
g.node.add path {
  fill: white;
}
g.node.hovered path, g.node.selected path {
  stroke: lightgreen;
  stroke-width: 4px;
}
#topology {
  position: absolute;
}

.policy-container {
  /* position: relative; */
}

form.view-only input {

}

input.ng-invalid, input.ng-invalid:hover, input.ng-invalid:focus
{
  box-shadow: 0 0 5px pink;
  border: 1px solid red;
}

small.ng-active
{
  color: darkred;
}




.view-none {
  border: 1px solid #dddddd;
  padding: 1em;
  margin-top: 5em;
}
.view-none p {
    font-weight: bold;
}

.form-group small div {
  max-width: 40em;
}

.form-group h3 {
  font-weight: bold;
}

.form-group hr {
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 1px solid #e1e1e1;
}

span.form-dirty {
  font-weight: bold;
  color: red;
}

.all-forms {
  background-color: white;
  z-index: 100;
  position: absolute;
  margin-left: 50em;
  width: 42em;
  padding: 2em;
}

.all-forms h2 {
  margin-top: 4px;
}
#gmodal.ismodal {
  background-color: black;
  opacity:  0.15;
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  z-index: 10;
}

.bootstrap-switch {
  margin-top: 4px;
  margin-bottom: 4px;
}

input.warning::-webkit-input-placeholder,
input.ng-invalid-required::-webkit-input-placeholder,
input.duplicate::-webkit-input-placeholder
{ /* WebKit, Blink, Edge */
    color:    red;
}
input.warning::-moz-placeholder,
input.ng-invalid-required::-moz-placeholder,
input.duplicate::-moz-placeholder
{ /* Mozilla Firefox 19+ */
   color:    red;
   opacity:  1;
}
input.warning:-ms-input-placeholder,
input.ng-invalid-required:-ms-input-placeholder,
input.duplicate:-ms-input-placeholder
{ /* Internet Explorer 10-11 */
   color:    red;
}
input.warning::-ms-input-placeholder,
input.ng-invalid-required::-ms-input-placeholder,
input.duplicate::-ms-input-placeholder
{ /* Microsoft Edge */
   color:    red;
}

  .node {
    cursor: pointer;
  }

    .node polygon {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1px;
    }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
